
/* Navigation styles */
.logo{
    background: white;
    height: 230px;
    background-image: url("../image/jakes-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}
.nav{
    display: flex;
    background-color: black;
    padding: 20px;
}
.left .center .right{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .right{
    width: 25%;
}

.center{
    width: 50%;
}

.class a{
    color: white;
    padding: 10px;
}

/* Column styles */

/* Footer Styles */